body{
    background-color: #E7DBDB;
    background-image: url(../img/bg.tentang2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h2{
    font-family: "Fontdiner Swanky", serif;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 5%;
    color: #475c66;
}

p{
    font-family: "Cardo", serif;
    font-size: 27px;
    margin-left: 5%;
    color: #0b0433;

}

p.find{
    font-size: 30;
}

.bi-instagram{
    margin-bottom: 10%;
    margin-left: 5%;
    width: 64px;
    height: 64px;
    color: #0b0433;
}

.bi-map{
    color: #0b0433;
}