body{
    background-color: #E7DBDB;
    background-image: url(../img/background.about.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
h2{
    font-family: "Fontdiner Swanky", serif;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 5%;
    color: #555555;
}

p{
    font-family: "Cardo", serif;
    font-size: 27px;
    margin-left: 5%;
    color: #555555;

}

p.find{
    font-size: 30;
}

.bi-instagram{
    margin-left: 5%;
    width: 64px;
    height: 64px;
}