body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    overflow-y: hidden;
    font-family: Rubik;
}
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-radius: 15px 15px 0 0;
}

.card-body {
    padding: 30px;
}

.card-body p {
    margin-bottom: 10px;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card img {
    border-radius: 50%;
}

.card-header h4 {
    text-align: center;
}

.bg-primary {
    background-color: #007bff !important;
}